.git
.github
**/.next
**/.pnpm-store
**/coverage
**/dist
**/node_modules
**/playwright-report
**/tests
**/test-results
**/*.test.*
**/*.log
**/*.tsbuildinfo

**/.env
**/.env.*
!**/.env.example

Dockerfile*
docker-compose*.yml
docs
